@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
  font-family: 'Poppins', cursive;
 
}

.main{
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 100%;
  justify-content: center;
  gap: 5vw;
  margin-top: 100px;
}

header>li:hover{
  border-bottom: 5px !important;
}

.mainpic {
  size: 30%;
  object-fit: cover;
  clip-path: url(#svgClip);
  background-color: rgb(116, 131, 87);
}

.bla{
  align-self:center ;
}
.bla>h1{
  align-self:center ;
  font-weight: 600;
  font-size: 55px;
}

.rows{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 5vw;
  margin-top: 10vh;  
  height: auto;
}

.row-info{
  gap: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  margin-inline: 18vw;
}
.row-info>img{
  height: 45vh;
  border-radius: .5rem;
}


.highlight{
  color: rgb(116, 131, 87);
}

.bg-green{
  transition: 600ms;
  background-color: rgb(192, 192, 192) !important;
}

.fixed-top{
  transition: 600ms;
}

.txt>h1{
  line-height: 25px;
  font-size: 22px;
}