@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
  font-family: 'Poppins', cursive;
 
}
body{
  padding-bottom:70px;
}
.main{
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 100%;
  justify-content: center;
  gap: 5vw;
  margin-top: 100px;
}

header>li:hover{
  border-bottom: 5px !important;
}

.mainpic {
  size: 30%;
  object-fit: cover;
  clip-path: url(#svgClip);
  background-color: rgb(116, 131, 87);
}

.bla{
  align-self:center ;
}
.bla>h1{
  align-self:center ;
  font-weight: 600;
  font-size: 55px;
}

.rows{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 5vw;
  margin-top: 10vh;  
  height: auto;
}

.row-info{
  gap: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  margin-inline: 18vw;
}
.row-info>img{
  max-width: 430px;
  max-height: 45vh;
  border-radius: .5rem;
}


.highlight{
  color: #748357;
}

.bg-green{
  transition: 600ms;
  background-color: rgb(192, 192, 192) !important;
}

.fixed-top{
  transition: 600ms;
}

.txt>h1{
  line-height: 25px;
  font-size: 22px;
}


.txt-2{
  width: 30vw;
}
.txt-2>h1{
  width: 30vw;
  font-size: 18px;
  margin: 0;
}

.progress {
  margin:10px auto;
  padding:0;
  width:100%;
  height:50px;
  overflow:hidden;
  background:#e5e5e5;
  border-radius:6px;
}

.bar {
	position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background:#748357;
}

.percent {
	position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  font-size:12px;
  color:white;
}